﻿@model TD.Presentation.Models.BulkLoadViewModel

@{
    ViewData["Title"] = "BulkLoadVendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bulk Load Vendor</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BulkLoadVendor" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Filename" class="control-label"></label>
                <input asp-for="Filename" class="form-control" />
                <input type="file" asp-for="Filename" class="form-control" />
                <span asp-validation-for="Filename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload" />
                @*<input type="submit" value="Save" class="btn btn-primary" />*@
            </div>
        </form>
    </div>
</div>



