﻿@model TD.Presentation.Models.CreateFileViewModel
@{
    ViewData["Title"] = "CreateItmattFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Itmatt File</h1>

<h4>Files created</h4>
<p><b>File Path : </b>@Model.DefaultFolderName</p>

<div>
    <ul>
        @{
            @if (Model.FileNames != null)
            {
                foreach (var file in Model.FileNames)
                {
                    <li> @file.Name</li>
                }
            }
            else
            {
                <li> No Files found in path or path not found.</li>
            }
        }
    </ul>
</div>
<a asp-action="SetupUploadFile" class="btn btn-light">Back to Upload</a>&nbsp;|&nbsp;<a asp-action="SetupItmattFile" class="btn btn-light">Back to Setup</a>
