﻿@model TD.Presentation.Models.CreateFileViewModel
@{
    ViewData["Title"] = "CreateIftminFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Iftmin File</h1>

<h4>Files created</h4>

<p><b>File Path : </b>@Model.DefaultFolderName</p>

<div>
    <table id="IndexTable" class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FileNames)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.FileNames.Length!=0)
            {
                foreach (var item in Model.FileNames)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Upload", "UploadFile", new { filename = item.FullName, processType = "Iftmin" }, new { @class = "btn-sm btn-primary" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        No Files found in path or path not found.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a asp-action="SetupUploadFile" class="btn btn-light">Back to Upload</a>&nbsp;|&nbsp;<a asp-action="SetupIftminFile" class="btn btn-light">Back to Setup</a>

