﻿@model TD.Presentation.Models.TestProfileViewModel
@{
    ViewData["Title"] = "SetupItmattFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Setup Iftmin File</h1>


<div>
    <div class="card card-body">
        <form asp-controller="File" asp-action="CreateIftminFile">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfileName" class="control-label">Profile Name</label>
                <select asp-for="ProfileName" asp-items="Model.ProfileNameSelectList" class="form-control">
                    <option value="">Select Profile</option>
                </select>
                <span asp-validation-for="ProfileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolderPath" class="control-label">Folder Path</label>
                <input asp-for="FolderPath" class="form-control" />
                <span asp-validation-for="FolderPath" class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group">
                <label asp-for="VendorKey" class="control-label">Addressee Name</label>
                <select asp-for="VendorKey" asp-items="Model.VendorSelectList" class="form-control">
                    <option value="0"> Select Addressee</option>
                </select>
                <span asp-validation-for="VendorKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerKey" class="control-label">Sender Name</label>
                <select asp-for="CustomerKey" asp-items="Model.CustomerSelectList" class="form-control">
                    <option value="0">Select Sender</option>
                </select>
                <span asp-validation-for="CustomerKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemKey" class="control-label">Item Type</label>
                <select asp-for="ItemKey" asp-items="Model.ItemTypeSelectList" class="form-control">
                    <option value="0">Use Random Items</option>
                </select>
                <span asp-validation-for="ItemKey" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="NumbersPerFile" class="control-label">Numbers Per File</label>
                <input asp-for="NumbersPerFile" class="form-control" />
                <span asp-validation-for="NumbersPerFile" class="text-danger"></span>
            </div>*@
            <input type="submit" value="Generate Files" class="btn btn-primary" />
        </form>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/setupFile.js"></script>
}