﻿@model TD.Presentation.Models.UploadFileViewModel

@{
    ViewData["Title"] = "UploadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UploadFile</h1>

<h4>UploadFileViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetupUploadFile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfileName" class="control-label"></label>
                <select asp-for="ProfileName" asp-items="Model.ProfileNameSelectList" class="form-control">
                    <option value="">Select Profile</option>
                </select>
                <span asp-validation-for="ProfileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessType" class="control-label"></label>
                <select asp-for="ProcessType" asp-items="Model.ProcessTypeSelectList" class="form-control">
                    <option value="">Select Process Type</option>
                </select>
                <span asp-validation-for="ProcessType" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Filename" class="control-label"></label>
                    <input asp-for="Filename" class="form-control" />
                    <span asp-validation-for="Filename" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="DefaultFolderName" class="control-label"></label>
                    <input asp-for="DefaultFolderName" class="form-control" />
                    <span asp-validation-for="DefaultFolderName" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Get Files for Profile" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/uploadFile.js"></script>
}


