﻿@model TD.Presentation.Models.StatusReport

@{
    ViewData["Title"] = Model.ProfileName;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var numberList = Model.ScanPivot.Select(r => r.No).ToList();

}

<h1>Send Message for Profile: @Model.ProfileName</h1>

<table id="ReportTable" class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            @*<th>ID</th>*@
            <th>No</th>
            <th>L5 (35)</th>
            <th>L7 (37)</th>
            <th>K3 (57)</th>
            <th>D5 (73)</th>
            <th>M (13)</th>
            <th>N (14)</th>
            <th>R1 (56)</th>
            <th>Customs</th>
            <th>Mrn</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ScanPivot)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.No)
                </td>
                <td>  @{
                           if (item.ScanL5 == "?")
                           {
                               @Html.ActionLink("?", "SendMessage",
                                   new { number = item.No, messageType = Model.MessageType, profileName = Model.ProfileName },
                                   new { @class = "btn-sm btn-primary" })
                           }
                           else
                           {
                               @Html.DisplayFor(modelItem => item.ScanL5)
                           }
                       }
                </td>
                <td>
                    @{
                        if (item.ScanL7 == "?")
                        {
                            @Html.ActionLink("?", "SendMessage",
                                new { number = item.No, messageType = Model.MessageType, profileName = Model.ProfileName },
                                new { @class = "btn-sm btn-primary" })
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ScanL5)
                        }
                    }

                </td>
                <td>
                    @{
                        if (item.ScanK3 == "?")
                        {
                            @Html.ActionLink("?", "SendMessage",
                                new { number = item.No, messageType = Model.MessageType, profileName = Model.ProfileName },
                                new { @class = "btn-sm btn-primary" })
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ScanK3)
                        }
                    }
                </td>

                <td>
                    @{
                        if (item.ScanD5 == "?")
                        {
                            @Html.ActionLink("?", "SendMessage",
                                new { number = item.No, messageType = Model.MessageType, profileName = Model.ProfileName },
                                new { @class = "btn-sm btn-primary" })
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ScanD5)
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.ScanM == "?")
                        {
                            @Html.ActionLink("?", "SendMessage",
                                new { number = item.No, messageType = Model.MessageType, profileName = Model.ProfileName },
                                new { @class = "btn-sm btn-primary" })
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ScanM)
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.ScanN == "?")
                        {
                            @Html.ActionLink("?", "SendMessage",
                                new { number = item.No, messageType = Model.MessageType, profileName = Model.ProfileName },
                                new { @class = "btn-sm btn-primary" })
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ScanN)
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.ScanR1 == "?")
                        {
                            @Html.ActionLink("?", "SendMessage",
                                new { number = item.No, messageType = Model.MessageType, profileName = Model.ProfileName },
                                new { @class = "btn-sm btn-primary" })
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ScanR1)
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mrn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="MessageSetup" class="btn btn-light">Back to Setup</a>&nbsp;|&nbsp;
@Html.ActionLink("Send All", "SendAllMessage", new { numberList = numberList, messageType = Model.MessageType },
new { @class = "btn btn-primary" })

@section Scripts{
    <script type="text/javascript" src="~/js/statusReport.js"></script>
}