﻿@model TD.Presentation.Models.MessageViewModel

@{
    ViewData["Title"] = "TrackandTrace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Send Message Setup</h1>


<div >
    <div class="card card-body">
        <form asp-controller="Message" asp-action="MessageStatusReport">
            <div class="form-group">
                <label asp-for="ProfileName" class="control-label"></label>
                <select asp-for="ProfileName" asp-items="Model.ProfileNameSelectList" class="form-control">
                    <option value="">Select Profile</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MessageType" class="control-label"></label>
                <select asp-for="MessageType" asp-items="Model.MessageTypeSelectList" class="form-control">
                    <option value="">Select Message Type</option>
                </select>
            </div>

            <input type="submit" value="Check Status" class="btn btn-primary"/>
        </form>
    </div>
</div>
