﻿@model TD.Presentation.Models.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";

    var styleTrackAndTraceDatabase = Model.TrackAndTraceDatabase ? "alert-success" : "alert-danger";
    var styleAzureCosmosTables = Model.AzureCosmosTables ? "alert-success" : "alert-danger";
    var styleAzureConfig = Model.AzureConfig ? "alert-success" : "alert-danger";
    var styleAzureIftminDropFolder = Model.AzureIftminDropFolder ? "alert-success" : "alert-danger";
    var styleAzureItmattDropFolder = Model.AzureItmattDropFolder ? "alert-success" : "alert-danger";
    var styleTrackAndTraceWCFService = Model.TrackAndTraceWCFService ? "alert-success" : "alert-danger";
    var styleCustomsDatabase = Model.CustomsDatabase ? "alert-success" : "alert-danger";
    var styleCustomsAPI = Model.CustomsAPI ? "alert-success" : "alert-danger";
    var styleMyDeliveryAPI = Model.MyDeliveryAPI ? "alert-success" : "alert-danger";
    var styleMyDeliveryCustomsAPI = Model.MyDeliveryCustomsAPI ? "alert-success" : "alert-danger";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Test Data Admin and Generator for IFTMIN and ITMATT files. <br />
        The site also integrates with a number of services to send messages or query results.
    </p>
    <div class="row mt-4">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header @styleAzureConfig">Azure Config Endpoint</div>
                <div class="card-body ">
                    Access to Azure Config Endpoint
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" >
                <div class="card-header @styleAzureCosmosTables">Azure Cosmos Tables</div>
                <div class="card-body ">
                    @Model.AzureCosmosTablesName
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" >
                <div class="card-header @styleAzureIftminDropFolder">Azure Iftmin Drop Folder</div>
                <div class="card-body ">
                    @Model.AzureIftminDropFolderName
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4">
            <div class="card" >
                <div class="card-header @styleTrackAndTraceDatabase"> Track And Trace Database</div>
                <div class="card-body ">
                    @Model.TrackAndTraceDatabaseName
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" >
                <div class="card-header @styleTrackAndTraceWCFService">Track And Trace WCF Service</div>
                <div class="card-body ">
                    @Model.TrackAndTraceWCFServiceName
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" >
                <div class="card-header @styleAzureItmattDropFolder">Azure Itmatt Drop Folder</div>
                <div class="card-body ">
                    @Model.AzureItmattDropFolderName
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header @styleCustomsDatabase">Customs Database</div>
                <div class="card-body ">
                    Access to Customs Database -
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header @styleCustomsAPI">Customs API</div>
                <div class="card-body ">
                    Access to Customs API
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header @styleMyDeliveryAPI">MyDelivery API</div>
                <div class="card-body ">
                    Access to MyDelivery API
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header @styleMyDeliveryCustomsAPI">MyDelivery Customs API</div>
                <div class="card-body ">
                    Access to MyDelivery Customs API
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
