﻿@model TD.Presentation.Models.GenerateViewModel
@{
    ViewData["Title"] = "GenerateThirdPartyBarcodes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Generate Third Party Barcodes</h1>

<h1>Generate Tracking Numbers</h1>

<h4>File created</h4>

<p><b>Tracking Number  File Path: </b>@Model.TrackingNumberFilePath</p>

<div>
    <ul>
        @{
            for (var i = 0; i < Model.FileNames.Length; i++)
            {
                var file = Model.FileNames[i];

                <li> @file.Name</li>
            }
        }
    </ul>
</div>

<a asp-action="SetupThirdPartyBarcodes" class="btn btn-light">Back to Setup</a>