﻿@model TD.Presentation.Models.GenerateViewModel

@{
    ViewData["Title"] = "SetupTrackingNumbers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SetupTrackingNumbers</h1>

<h4>GenerateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateTrackingNumbers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfileRowkey" class="control-label"></label>
                <select asp-for="ProfileRowkey" asp-items="Model.ProfileNameSelectList" class="form-control">
                    <option value="">Select Profile</option>
                </select>
                <span asp-validation-for="ProfileRowkey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolderPath" class="control-label">Folder Path</label>
                <input asp-for="FolderPath" class="form-control" />
                <span asp-validation-for="FolderPath" class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group">
                <label asp-for="VendorKey" class="control-label"></label>
                <select asp-for="VendorKey" asp-items="Model.VendorSelectList" class="form-control">
                    <option value="">Select Profile</option>
                </select>
                <span asp-validation-for="VendorKey" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="NumberCount" class="control-label"></label>
                <input asp-for="NumberCount" class="form-control" />
                <span asp-validation-for="NumberCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartNumber" class="control-label"></label>
                <input asp-for="StartNumber" class="form-control" />
                <span asp-validation-for="StartNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prefix" class="control-label"></label>
                <input asp-for="Prefix" class="form-control" />
                <span asp-validation-for="Prefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postfix" class="control-label"></label>
                <input asp-for="Postfix" class="form-control" />
                <span asp-validation-for="Postfix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Generate Tracking Numbers" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/setupGenerate.js"></script>
}