﻿@model IEnumerable<TD.Presentation.Models.FileProcessError>

@{
    ViewData["Title"] = "DisplayIftmanErrors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Display Iftman Errors</h1>

<table id="ReportTable" class="table table-striped table-bordered text-center">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>
        <th>
            Tracking Number
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line)
            </td>
        </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script type="text/javascript" src="~/js/statusReport.js"></script>
}