﻿@model TD.Presentation.Models.StatusReport

@{
    ViewData["Title"] = Model.ProfileName;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>@Model.ProfileName</h1>

<table id="ReportTable" class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>No</th>
            <th>L5 (35)</th>
            <th>L7 (37)</th>
            <th>K3 (57)</th>
            <th>D5 (73)</th>
            <th>M (13)</th>
            <th>N (14)</th>
            <th>Customs</th>
            <th>Mrn</th>
            <th>Paid</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ScanPivot)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScanL5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScanL7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScanK3)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ScanD5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScanM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScanN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mrn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>

                    @*@Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |*@

                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="SelectReport" class="btn btn-light">Back to Report List</a>

@section Scripts{
    <script type="text/javascript" src="~/js/statusReport.js"></script>
}