﻿@model TD.Presentation.Models.TestProfileViewModel

@{
    ViewData["Title"] = "StatusReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Status Report</h1>

<div>
    <form asp-controller="Reports" asp-action="DisplayStatusReport">
        <label asp-for="ProfileName" class="control-label">Select Profile for Report.</label>
        <select asp-for="ProfileName" asp-items="Model.ProfileNameSelectList" class="form-control">
            <option value="">Select Profile</option>
        </select>

    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ProfileName').on('change', function () {
                this.form.submit();
            });
        });
    </script>
}