﻿@model TD.Presentation.Models.TestProfileViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Edit</h1>

<h4>TestProfile</h4>
<hr />
@{
    var error = ViewBag.Exception;
    if (!string.IsNullOrEmpty(error))
    {
        <div class="card bg-light text-dark">
            <div class="card-body">
                @error
            </div>
        </div>
    }
}
<div class="container">
    <!-- Form -->
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card">
            <!-- Nav tabs -->
            <div class="card-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Main</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="number-tab" data-toggle="tab" href="#number" role="tab" aria-controls="number" aria-selected="false">Numbers</a>
                    </li>
                    @*<li class="nav-item" role="presentation">
                        <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Address</a>
                    </li>*@
                    @*<li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                    </li>*@
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="config-tab" data-toggle="tab" href="#config" role="tab" aria-controls="config" aria-selected="false">Config</a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="main" role="tabpanel" aria-labelledby="main-tab">
                        <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">

                            <div class="form-group">
                                <label asp-for="ProfileName" class="control-label"></label>
                                <input asp-for="ProfileName" class="form-control" />
                                <span asp-validation-for="ProfileName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FolderPath" class="control-label">Folder Path</label>
                                <input asp-for="FolderPath" class="form-control" />
                                <span asp-validation-for="FolderPath" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VendorKey" class="control-label">Vendor Name</label>
                                <select asp-for="VendorKey" asp-items="Model.VendorSelectList" class="form-control">
                                    <option value="0"> Select Vendor</option>
                                </select>
                                <span asp-validation-for="VendorKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CustomerKey" class="control-label">Customer Name</label>
                                <select asp-for="CustomerKey" asp-items="Model.CustomerSelectList" class="form-control">
                                    <option value="0">Select Customer</option>
                                </select>
                                <span asp-validation-for="CustomerKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ItemKey" class="control-label">Item Type</label>
                                <select asp-for="ItemKey" asp-items="Model.ItemTypeSelectList" class="form-control">
                                    <option value="0">Use Random Items</option>
                                </select>
                                <span asp-validation-for="ItemKey" class="text-danger"></span>
                            </div>
                            

                        </div>
                    </div>
                    <div class="tab-pane" id="number" role="tabpanel" aria-labelledby="number-tab">
                        <div class="form-group">
                            <label asp-for="TrackingNumbersJson" class="control-label"></label>
                            <textarea asp-for="TrackingNumbersJson" class="form-control" rows="10" cols="30"></textarea>
                            <span asp-validation-for="TrackingNumbersJson" class="text-danger"></span>
                            <partial name="_TrackingNumberModal" />
                        </div>
                       
                    </div>
                    @*<div class="tab-pane" id="address" role="tabpanel" aria-labelledby="address-tab"></div>*@
                    @*<div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>*@
                    <div class="tab-pane" id="config" role="tabpanel" aria-labelledby="config-tab">
                        @*<div class="form-group">
                            <label asp-for="PartitionKey" class="control-label"></label>
                            <input asp-for="PartitionKey" class="form-control" />
                            <span asp-validation-for="PartitionKey" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <label asp-for="RowKey" class="control-label"></label>
                            <input asp-for="RowKey" class="form-control" />
                            <span asp-validation-for="RowKey" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                            </label>
                            <span asp-validation-for="Active" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="Timestamp" class="control-label"></label>
                            <input asp-for="Timestamp" class="form-control" />
                            <span asp-validation-for="Timestamp" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ETag" class="control-label"></label>
                            <input asp-for="ETag" class="form-control" />
                            <span asp-validation-for="ETag" class="text-danger"></span>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />&nbsp;|&nbsp;
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/trackingNumbersModal.js"></script>
}
