﻿@model IEnumerable<TD.Presentation.Models.TestProfileViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test Profile List</h1>

<p>
    <a asp-action="Create" class="btn btn-light">Create New</a>
</p>
<table id="IndexTable" class="table table-striped table-bordered text-center">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
     
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
          
            <td>
                @item.Timestamp.ToString("yyyy/MM/dd HH:mm:ss")
            </td>
         
            <td>
                @Html.ActionLink("Edit", "Edit", new { rowKey = item.RowKey }, new { @class = "btn-sm btn-outline-dark" })|
                @Html.ActionLink("Details", "Details", new { rowKey = item.RowKey }, new { @class = "btn-sm btn-outline-dark" })|
                @Html.ActionLink("Delete", "Delete", new { rowKey = item.RowKey }, new { @class = "btn-sm btn-outline-dark" })
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript" src="~/js/indexList.js"></script>
}