﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test Data Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/dist/css/datatables.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/dist/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/dist/css/brands.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/dist/css/solid.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables/dist/js/datatables.js"></script>
    <script type="text/javascript" src="~/lib/font-awesome/dist/js/fontawesome.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Test Data Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="" class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" asp-area="">Data</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Index">Profiles</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Vendor" asp-action="Index">Vendor</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Item" asp-action="Index">Item</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="File" asp-action="BulkLoadVendor">Bulk Vendor Data</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="" class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" asp-area="">Generate</a>
                            <div class="dropdown-menu">
                                @*<a class="nav-link text-dark" asp-area="" asp-controller="Generate" asp-action="Index">Config</a>
                                <div class="dropdown-divider"></div>*@
                                <a class="dropdown-item" asp-area="" asp-controller="Generate" asp-action="SetupTrackingNumbers">S10 Tracking Numbers</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Generate" asp-action="SetupThirdPartyBarcodes">Third Party Barcodes</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="" class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" asp-area="">Files</a>
                            <div class="dropdown-menu">
                                @*<a class="dropdown-item" asp-area="" asp-controller="File" asp-action="Index">Config</a>
        <div class="dropdown-divider"></div>*@
                                <a class="dropdown-item" asp-area="" asp-controller="File" asp-action="SetupIftminFile">Create Iftmin File</a>
                                <a class="dropdown-item" asp-area="" asp-controller="File" asp-action="SetupItmattFile">Create Itmatt File</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="File" asp-action="SetupUploadFile">Upload Files</a>
                            
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="" class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" asp-area="">Messages</a>
                            <div class="dropdown-menu">
                                @*<a class="dropdown-item" asp-area="" asp-controller="Message" asp-action="Index">Config</a>
                                <div class="dropdown-divider"></div>*@
                                <a class="dropdown-item" asp-area="" asp-controller="Message" asp-action="MessageSetup">Send Message</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="" class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" asp-area="">Report</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="SelectReport">Status Report</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="" class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" asp-area="">Errors</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="DisplayIftminErrors">Iftman Errors</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="DisplayIftmattErrors">Itmatt Errors</a>
                            </div>
                        </li>
                    </ul>
                    <p class="nav navbar-text">Hello, @User.Identity.Name!</p>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TD.Presentation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

<script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
