﻿<!-- Tracking Numbers Modal -->
<button type="button" class="btn btn-light" onclick="prettyPrint()">Pretty Print</button>
<button type="button" class="btn btn-light" data-toggle="modal" data-target="#trackingNumberModal">Input Numbers</button>

<div class="modal" id="trackingNumberModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import Tracking Numbers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Tracking Numbers</label>
                    <textarea id="trackingNumbersInput" class="form-control" class="form-control" rows="5" cols="40"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="save()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
