﻿@model TD.Presentation.Models.CustomerViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<h4>Customer</h4>
<hr />
@{
    var error = ViewBag.Exception;
    if (!string.IsNullOrEmpty(error))
    {
        <div class="card bg-light text-dark">
            <div class="card-body">
                @error
            </div>
        </div>
    }
}
<div class="container">
    <!-- Form -->
    <form asp-action="Create">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="card">
            <!-- Nav tabs -->
            <div class="card-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Main</a>
                    </li>
                    @*<li class="nav-item" role="presentation">
                            <a class="nav-link" id="number-tab" data-toggle="tab" href="#number" role="tab" aria-controls="number" aria-selected="false">Numbers</a>
                        </li>*@
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Address</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="config-tab" data-toggle="tab" href="#config" role="tab" aria-controls="config" aria-selected="false">Config</a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="main" role="tabpanel" aria-labelledby="main-tab">
                        <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                            <div class="form-group">
                                <label asp-for="FullName" class="control-label"></label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @*<div class="tab-pane" id="number" role="tabpanel" aria-labelledby="number-tab">

                        </div>*@
                    <div class="tab-pane" id="address" role="tabpanel" aria-labelledby="address-tab">
                        <div class="form-group">
                            <label asp-for="Address1" class="control-label"></label>
                            <input asp-for="Address1" class="form-control" />
                            <span asp-validation-for="Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address2" class="control-label"></label>
                            <input asp-for="Address2" class="form-control" />
                            <span asp-validation-for="Address2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address3" class="control-label"></label>
                            <input asp-for="Address3" class="form-control" />
                            <span asp-validation-for="Address3" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address4" class="control-label"></label>
                            <input asp-for="Address4" class="form-control" />
                            <span asp-validation-for="Address4" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PostalCode" class="control-label"></label>
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Country" class="control-label"></label>
                            <input asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                            </label>
                            <span asp-validation-for="Active" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="tab-pane" id="config" role="tabpanel" aria-labelledby="config-tab">
                        @*<div class="form-group">
                                <label asp-for="PartitionKey" class="control-label"></label>
                                <input asp-for="PartitionKey" class="form-control" />
                                <span asp-validation-for="PartitionKey" class="text-danger"></span>
                            </div>*@
                        <div class="form-group">
                            <label asp-for="RowKey" class="control-label"></label>
                            <input asp-for="RowKey" class="form-control" />
                            <span asp-validation-for="RowKey" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                            </label>
                            <span asp-validation-for="Active" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                                <label asp-for="Timestamp" class="control-label"></label>
                                <input asp-for="Timestamp" class="form-control" />
                                <span asp-validation-for="Timestamp" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ETag" class="control-label"></label>
                                <input asp-for="ETag" class="form-control" />
                                <span asp-validation-for="ETag" class="text-danger"></span>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />&nbsp;|&nbsp;
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
