﻿@model TD.Presentation.Models.CustomerViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete </h1>

<div>
    <h4>Customer</h4>
    <h5>Are you sure you want to delete this?</h5>
    <hr/>

    <div class="card">
        <!-- Nav tabs -->
        <div class="card-header">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Main</a>
                </li>
                @*<li class="nav-item" role="presentation">
                        <a class="nav-link" id="number-tab" data-toggle="tab" href="#number" role="tab" aria-controls="number" aria-selected="false">Numbers</a>
                    </li>*@
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Address</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="config-tab" data-toggle="tab" href="#config" role="tab" aria-controls="config" aria-selected="false">Config</a>
                </li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="main" role="tabpanel" aria-labelledby="main-tab">
                    <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.FullName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.FullName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                        </dl>
                    </div>
                </div>
                @*<div class="tab-pane" id="number" role="tabpanel" aria-labelledby="number-tab">

                    </div>*@
                <div class="tab-pane" id="address" role="tabpanel" aria-labelledby="address-tab">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Address1)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address1)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Address2)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address2)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Address3)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address3)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Address4)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address4)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.City)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.City)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PostalCode)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PostalCode)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Country)
                        </dd>
                    </dl>

                </div>
                <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Phone)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                      
                    </dl>
                </div>
                <div class="tab-pane" id="config" role="tabpanel" aria-labelledby="config-tab">
                    <dl class="row">
                        @*<dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PartitionKey)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PartitionKey)
                        </dd>*@
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RowKey)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RowKey)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Active)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Active)
                        </dd>
                        @*<dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Timestamp)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Timestamp)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ETag)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ETag)
                        </dd>*@
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger"/>&nbsp;|&nbsp;
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </form>
</div>
