﻿@model TD.Presentation.Models.ItemViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<div>
    <h4>Item</h4>
    <h5>Are you sure you want to delete this?</h5>
    <hr />

    <div class="container">

        <div class="card">
            <!-- Nav tabs -->
            <div class="card-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Main</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="number-tab" data-toggle="tab" href="#number" role="tab" aria-controls="number" aria-selected="false">Numbers</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Address</a>
                    </li>
                    @*<li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                        </li>*@
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="config-tab" data-toggle="tab" href="#config" role="tab" aria-controls="config" aria-selected="false">Config</a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="main" role="tabpanel" aria-labelledby="main-tab">
                        <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ItemTariff)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ItemTariff)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TypeOfGoods)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TypeOfGoods)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="tab-pane" id="number" role="tabpanel" aria-labelledby="number-tab">
                        <dl class="row">

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Quantity)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Quantity)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Price)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Price)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Weight)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Weight)
                            </dd>

                        </dl>
                    </div>
                    <div class="tab-pane" id="address" role="tabpanel" aria-labelledby="address-tab">
                        <dl class="row">

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.CountryOfOrigin)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CountryOfOrigin)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Currency)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Currency)
                            </dd>

                         
                        </dl>
                    </div>
                    @*<div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>*@
                    <div class="tab-pane" id="config" role="tabpanel" aria-labelledby="config-tab">
                        <dl class="row">
                            @*<dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PartitionKey)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PartitionKey)
                            </dd>*@
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.RowKey)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.RowKey)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Active)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Active)
                            </dd>
                            @*<dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Timestamp)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Timestamp)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ETag)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ETag)
                            </dd>*@
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />&nbsp;|&nbsp;
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </form>
</div>
