﻿@model IEnumerable<TD.Presentation.Models.ItemViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Item List</h1>

<p>
    <a asp-action="Create" class="btn btn-light">Create New</a>
</p>
<table id="IndexTable" class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ItemTariff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryOfOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TypeOfGoods)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.PartitionKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RowKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ETag)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ItemTariff)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryOfOrigin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.TypeOfGoods)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PartitionKey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RowKey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ETag)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { rowKey = item.RowKey }, new { @class = "btn-sm btn-outline-dark" })|
                    @Html.ActionLink("Details", "Details", new { rowKey = item.RowKey }, new { @class = "btn-sm btn-outline-dark" })|
                    @Html.ActionLink("Delete", "Delete", new { rowKey = item.RowKey }, new { @class = "btn-sm btn-outline-dark" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript" src="~/js/indexList.js"></script>
}