﻿@model IEnumerable<TestDataAdmin.Models.PivotItem>

@{
    ViewData["Title"] = "Bulk20";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bulk20</h1>
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScanL5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScanL7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScanD5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScanM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScanN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mrn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScanL5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScanL7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScanD5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScanM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScanN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mrn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>

                @*@Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |*@

            </td>
        </tr>
}
    </tbody>
</table>
